<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UtilitySharp.Properties.Settings.databaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\bin\Debug\database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <appSettings>
        <add key="Color" value="6 66 66"/>
        <add key="HighlightedColor" value="9 99 99"/>
        <add key="BackColor" value="255 255 255"/>
        <add key="ControlFontColor" value="255 255 255"/>
        <add key="BackFontColor" value="0 0 0"/>
        <add key="Startup" value="true"/>
        <add key="SystemTray" value="true"/>
    </appSettings>
</configuration>